@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root .theme-light {
  --bg: hsl(0, 0%, 96%);
  --bg-contrast: hsl(0, 0%, 100%);
  --fg: hsl(0, 0%, 0%);
  --fg-rgb: 0, 0, 0;
  --fg-light: hsl(0, 0%, 9%);
  --primary: hsl(253, 51%, 43%);
  --nav: hsl(253, 51%, 43%);
  --input-bg: rgb(232, 240, 254);
  --icon: hsl(0, 0%, 37%);
  --icon-bg: rgba(186, 186, 186, 0.2);
}
:root .theme-dark {
  --bg: hsl(0, 0%, 9%);
  --bg-contrast: hsl(0, 0%, 0%);
  --fg: hsl(0, 0%, 100%);
  --fg-rgb: 255, 255, 255;
  --fg-light: hsl(0, 0%, 73%);
  --primary: hsl(253, 51%, 43%);
  --nav: hsl(0, 0%, 0%);
  --input-bg: hsl(0, 0%, 14%);
  --icon: hsl(0, 0%, 73%);
  --icon-bg: rgba(186, 186, 186, 0.2);
}

/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}
* :focus {
  outline: transparent;
}
* :focus-visible {
  outline: solid 0.125rem #8da636;
  outline-offset: 0.25rem;
}

.theme-light,
.theme-light input {
  color: hsl(0, 0%, 0%);
}

.theme-dark,
.theme-dark input {
  color: hsl(0, 0%, 100%);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Outfit", sans-serif;
  font-size: 2.625rem;
  line-height: 2.75rem;
}

.theme-light .form-container {
  border: 1px solid var(--fg);
}
.theme-light input {
  border: 1px solid var(--fg);
}
.theme-light button.primary {
  color: hsl(0, 0%, 100%);
}

.content-container {
  display: flex;
  justify-content: center;
  padding: 2em 1em;
}

.nav-container {
  container: navbar/inline-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em 1em;
  background-color: var(--nav);
  border-bottom: 1px solid var(--fg);
}
nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
nav a:has(.full-logo),
nav a:has(button) {
  display: none;
}

menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.25rem;
  padding: 1.2em;
  background-color: var(--bg);
  border-bottom: 1px solid var(--fg);
}

@container navbar (min-width: 40em) {
  nav {
    width: min(100% - 2em, 60em);
    border-radius: 1.875rem;
    border: none;
    padding: 1em 1.5em;
    margin-top: 1em;
  }
  nav a:has(.full-logo),
  nav a:has(button) {
    display: block;
  }
  nav a:has(.logo) {
    display: none;
  }
  menu {
    display: none;
  }
  .icon-wrapper:has(.hamburger-menu), .icon-wrapper:has(.close) {
    display: none;
  }
}
button {
  background-color: transparent;
  padding: 1em 3em;
  border: var(--fg) 1px solid;
  border-radius: 1.875rem;
  color: var(--fg);
}
button.primary {
  border-color: transparent;
  background-color: var(--primary);
}
button:hover {
  background-color: var(--fg);
  color: var(--bg);
  border-color: var(--bg);
  cursor: pointer;
}
button:disabled {
  background-color: rgba(120, 112, 233, 0.3);
  border: 1px solid var(--primary);
}

.icon {
  height: 1.5rem;
}
.icon.logo, .icon.full-logo {
  height: 3rem;
}
.icon.sun {
  height: 1.875rem;
}
.icon.moon {
  height: 1.75rem;
}
.icon.open-eye {
  height: 1.25rem;
}
.icon.clickable:hover {
  cursor: pointer;
  color: var(--fg);
}
.icon.clickable:hover::before {
  opacity: 1;
}
.icon.clickable::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--icon-bg);
  opacity: 0;
  border-radius: 50%;
  box-sizing: content-box;
  padding: 0.25rem;
  pointer-events: none;
}
.icon.close::before {
  padding: 0.4375rem;
}
.icon.hamburger-menu::before {
  padding: 0.3125rem;
}

.icon-wrapper {
  position: relative;
  color: var(--icon);
}

.hidden,
.icon-wrapper:has(.hidden) {
  display: none;
}

a {
  color: var(--fg);
  text-decoration: none;
}

.link {
  color: var(--primary);
}
.link:hover {
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1.875rem;
  background-color: var(--bg-contrast);
  padding: 2em 1em;
  min-width: 19.5em;
  width: min(40%, 24em);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0em 1em;
  gap: 2rem;
  width: 100%;
}

.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 0.25rem;
  width: 100%;
}
.field-container > div,
.field-container input {
  width: 100%;
}
.field-container input {
  border-radius: 0.625rem;
  background-color: var(--input-bg);
  border: none;
  padding: 0.6em 1em;
  transition: 300ms ease-in-out 100ms;
}
.field-container input:focus, .field-container input:focus-visible {
  outline: transparent;
  border: 1px solid var(--fg);
}
.field-container input:hover {
  scale: 1.05;
}

.field-error input {
  border: 1px solid #DF0000;
}
.field-error input:focus {
  border: 1px solid #DF0000;
  outline: 1px solid var(--fg);
  outline-offset: 0.125rem;
}
.field-error span {
  color: #DF0000;
  align-self: flex-end;
  text-align: end;
}

.form-error {
  border: 1px solid #DF0000;
  border-radius: 0.625rem;
  width: 100%;
  padding: 1em;
  text-align: center;
  color: #DF0000;
  position: relative;
}
.form-error .icon-wrapper {
  color: #DF0000;
  position: absolute;
  right: 0;
  top: 0;
  translate: 40% -40%;
  background-color: var(--bg-contrast);
}
.form-error .icon-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -45%;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--bg-contrast);
  border-radius: 50%;
  box-sizing: content-box;
  padding: 0.1875rem;
  pointer-events: none;
  z-index: -1;
}

.password-input-wrapper {
  position: relative;
}
.password-input-wrapper .icon-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  translate: -40% -50%;
}

[data-cy=loading-spinner] {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--fg);
  border-radius: 50%;
  border-top: none;
  border-left: none;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
