@use 'sass:math';
@use 'sass:color';
@use 'sass:map';
@use 'sass:list';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@function stripUnits($number) {
    @return math.div($number, ($number * 0 + 1));
}

@function toRem($pixelValue) {
    @return math.div(stripUnits($pixelValue), 16) * 1rem;
}

@mixin flex($direction: row, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin flexCentre($direction: row, $gap: 0) {
    @include flex($direction, $gap);
    justify-content: center;
    align-items: center;
}

/// Applies styles with display grid and centering elements in the grid
/// 
/// @param {number} $gap [toRem(32px)]
/// @param {number} $minColWidth [toRem(340px)]
/// 
@mixin gridCentre($gap: toRem(32px), $minColWidth: toRem(340px)) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));
    place-items: center;
    gap: $gap;
}

$breakpoint: 40em;
$max-content-width: 60em;

// **************
// --------------------COLORS-------------------------------
// **************
$white-blue: rgb(232, 240, 254);

$white-100: hsl(0, 0%, 100%);
$white-73: hsl(0, 0%, 73%);
$black-63: hsl(0, 0%, 37%);
$errorRed: #DF0000;
$primary: hsl(253, 51%, 43%);
$disabled: rgb(120, 112, 233, 0.3);
$outline: #{color.adjust($color: $primary, $hue: 180)}; // complement of $primary

$colors: (
    'light': ('bg': hsl(0, 0%, 96%),
        'bg-contrast': hsl(0, 0%, 100%),
        'fg': hsl(0, 0%, 0%) '0, 0, 0',
        'fg-light': hsl(0, 0%, 9%),
        'primary': hsl(253, 51%, 43%),
        'nav': hsl(253, 51%, 43%),
        'input-bg': $white-blue,
        'icon': $black-63,
        'icon-bg': rgba($white-73, $alpha: 0.2),

    ),
    'dark': ('bg': hsl(0, 0%, 9%),
        'bg-contrast': hsl(0, 0%, 0%),
        'fg': hsl(0, 0%, 100%) '255, 255, 255',
        'fg-light': hsl(0, 0%, 73%),
        'primary': hsl(253, 51%, 43%),
        'nav': hsl(0, 0%, 0%),
        'input-bg': hsl(0, 0%, 14%),
        'icon': $white-73,
        'icon-bg': rgba($white-73, $alpha: 0.2),
    )
);

@function themedColor($colorName) {
    @return var(--#{$colorName});
}

$themeMap: null;

@mixin themify() {
    @each $theme, $localThemeMap in $colors {
        .theme-#{$theme} {
            $themeMap: $localThemeMap !global;
            @content
        }
    }
}

@function t($key, $index: 1) {
    $colorValues: map-get($map: $themeMap, $key: $key);
    @return nth($colorValues, $index);
}

:root {
    .theme-light {
        @each $colorVar, $values in map-get($map: $colors, $key: 'light') {
            $suffixes: (
                '',
                '-rgb',
            );

        @for $i from 1 through length($values) {
            $cssVariableName: --#{$colorVar}#{nth($suffixes, $i)};
            #{$cssVariableName}: #{nth($values, $i)};
        }
    }
}

.theme-dark {
    @each $colorVar, $values in map-get($map: $colors, $key: 'dark') {
        $suffixes: (
            '',
            '-rgb',
        );

    @for $i from 1 through length($values) {
        $cssVariableName: --#{$colorVar}#{nth($suffixes, $i)};
        #{$cssVariableName}: #{nth($values, $i)};
    }
}
}
}

//                                            **************
// --------------------COLORS-------------------------------
//                                            **************


// **************
// --------------------RESET-------------------------------
// **************
/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;

    :focus {
        outline: transparent;
    }

    :focus-visible {
        outline: solid toRem(2px) $outline;
        outline-offset: toRem(4px);
    }
}

p {
    max-width: 65ch;
}

@include themify() {

    &,
    input {
        color: t(fg);
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Outfit", sans-serif;
    font-size: toRem(42px);
    line-height: toRem(44px);
}

h2 {
    font-size: toRem(32px);
    line-height: toRem(40px);
}

//                                           **************
// --------------------RESET-------------------------------
//                                           **************


// **************
// --------------------LAYOUT & THEME------------------------
// **************
.theme-light {

    .form-container,
    input,
    .card,
    .testimonial,
    .image-credits-container a{
        border: 1px solid themedColor(fg);
    }

    button.primary {
        color: $white-100;
    }
}

.content-container {
    @include flexCentre(column, toRem(128px));
    padding: 2em 1em;
}

@media screen and (min-width: $breakpoint) {
    .content-container {
        padding: 3em;
    }
}

//                                           **************
// --------------------LAYOUT & THEME----------------------
//                                           **************

// **************
// --------------------NAVIGATION-------------------------------
// **************
.nav-container {
    container: navbar / inline-size;
    @include flexCentre(column);
}

nav {
    @include flexCentre();
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 1em;
    background-color: themedColor(nav);
    border-bottom: 1px solid themedColor(fg);

    div {
        @include flexCentre($gap: toRem(20px));
    }

    a:has(.full-logo),
    a:has(button) {
        display: none;
    }
}

menu {
    @include flexCentre($gap: toRem(20px));
    flex-wrap: wrap;
    width: 100%;
    padding: 1.2em;
    background-color: themedColor(bg);
    border-bottom: 1px solid themedColor(fg);
}

@container navbar (min-width: #{$breakpoint}) {
    nav {
        width: min(calc(100% - 2em), $max-content-width);
        border-radius: toRem(30px);
        border: none;
        padding: 1em 1.5em;
        margin-top: 1em;

        a:has(.full-logo),
        a:has(button) {
            display: block;
        }

        a:has(.logo) {
            display: none;
        }
    }

    menu {
        display: none;
    }

    .icon-wrapper {

        &:has(.hamburger-menu),
        &:has(.close) {
            display: none;
        }
    }
}

//                                                **************
// --------------------NAVIGATION-------------------------------
//                                                **************


// **************
// --------------------BUTTONS-------------------------------
// **************
button {
    background-color: transparent;
    padding: 1em 3em;
    border: themedColor(fg) 1px solid;
    border-radius: toRem(30px);
    color: themedColor(fg);

    &.primary {
        border-color: transparent;
        background-color: themedColor(primary);
    }

    &:hover {
        background-color: themedColor(fg);
        color: themedColor(bg);
        border-color: themedColor(bg);
        cursor: pointer;
    }

    &:disabled {
        background-color: $disabled;
        border: 1px solid themedColor(primary);
    }
}

//                                                **************
// --------------------BUTTONS-------------------------------
//                                                **************


// **************
// --------------------ICONS-------------------------------
// **************
.icon {
    height: toRem(24px);

    &.logo,
    &.full-logo {
        height: toRem(48px);
    }

    &.sun {
        height: toRem(30px);
    }

    &.moon {
        height: toRem(28px);
    }

    &.open-eye {
        height: toRem(20px);
    }

    &.clickable {
        &:hover {
            cursor: pointer;
            color: themedColor(fg);

            &::before {
                opacity: 1;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 100%;
            aspect-ratio: 1;
            background-color: themedColor(icon-bg);
            opacity: 0;
            border-radius: 50%;
            box-sizing: content-box;
            padding: toRem(4px);
            pointer-events: none;
        }
    }

    &.close::before {
        padding: toRem(7px);
    }

    &.hamburger-menu::before {
        padding: toRem(5px);
    }
}

.icon-wrapper {
    position: relative;
    color: themedColor(icon)
}

.hidden,
.icon-wrapper:has(.hidden) {
    display: none;
}

//                                           **************
// --------------------ICONS-------------------------------
//                                           **************


// **************
// --------------------LINKS-------------------------------
// **************
a {
    color: themedColor(fg);
    text-decoration: none;
}

.link {
    color: themedColor(primary);

    &:hover {
        text-decoration: underline;
        text-underline-offset: toRem(2px);
    }
}

//                                           **************
// --------------------LINKS-------------------------------
//                                           **************


// **************
// --------------------FORMS-------------------------------
// **************

.form-container {
    @include flexCentre(column, toRem(32px));
    border-radius: toRem(30px);
    background-color: themedColor(bg-contrast);
    padding: 2em 1em;
    min-width: 19.5em;
    width: min(40%, 24em);
}

form {
    @include flexCentre(column, toRem(32px));
}

.fields-wrapper {
    @include flexCentre(column, toRem(10px));
    width: 100%;
}

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0em 1em;
    gap: toRem(32px);
    width: 100%;
}

.field-container {
    @include flexCentre(column, toRem(4px));
    align-items: flex-start;
    width: 100%;

    >div,
    input {
        width: 100%;
    }

    input {
        border-radius: toRem(10px);
        background-color: themedColor(input-bg);
        border: none;
        padding: 0.6em 1em;
        transition: 300ms ease-in-out 100ms;

        &:focus,
        &:focus-visible {
            outline: transparent;
            border: 1px solid themedColor(fg);
        }

        &:hover {
            scale: 1.05;
        }
    }
}

.field-error {
    input {
        border: 1px solid $errorRed;

        &:focus {
            border: 1px solid $errorRed;
            outline: 1px solid themedColor(fg);
            outline-offset: toRem(2px);
        }
    }

    span {
        color: $errorRed;
        align-self: flex-end;
        text-align: end;
    }
}

.form-error {
    border: 1px solid $errorRed;
    border-radius: toRem(10px);
    width: 100%;
    padding: 1em;
    text-align: center;
    color: $errorRed;
    position: relative;

    .icon-wrapper {
        color: $errorRed;
        position: absolute;
        right: 0;
        top: 0;
        translate: 40% -40%;
        background-color: themedColor(bg-contrast);

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -45%;
            width: 100%;
            aspect-ratio: 1;
            background-color: themedColor(bg-contrast);
            border-radius: 50%;
            box-sizing: content-box;
            padding: toRem(3px);
            pointer-events: none;
            z-index: -1;
        }
    }
}

.password-input-wrapper {
    position: relative;

    .icon-wrapper {
        position: absolute;
        right: 0;
        top: 50%;
        translate: -40% -50%;
    }
}

[data-cy=loading-spinner] {
    width: toRem(24px);
    height: toRem(24px);
    border: 2px solid themedColor(fg);
    border-radius: 50%;
    border-top: none;
    border-left: none;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

//                                           **************
// --------------------FORMS-------------------------------
//                                           **************



// **************                                          
// --------------------HOME PAGE-------------------------------
// **************
.section-container {
    @include flexCentre(column);
    width: min(100%, $max-content-width);

    &.centered-section {
        section {
            @include flexCentre(column, toRem(32px));
        }

        .heading-body-container {
            text-align: center;
        }
    }
}

#hero-section {
    container: sectionContainer / inline-size;

    article {
        padding-right: 1em;
    }
}

section {
    @include gridCentre();
    width: 100%;

    article {
        @include flex(column, toRem(32px));
    }

    .heading-body-container {
        @include flex(column, toRem(20px));
    }

    img {
        width: 100%;
        border-radius: toRem(30px);
    }
}

@container sectionContainer (width < 45em) {
    img {
        max-width: 24em;
    }

    p {
        max-width: 45ch;
    }

    a {
        align-self: center;
    }

    #hero-section article {
        padding-right: unset;
    }
}

.cards-container {
    @include gridCentre($gap: toRem(20px), $minColWidth: toRem(240px));
    width: 100%;
}

.card {
    @include flexCentre(column, toRem(8px));
    justify-content: space-between;
    background-color: themedColor(bg-contrast);
    border-radius: toRem(30px);
    padding: 1.5em;
    max-width: 20em;

    .image {
        display: grid;
        place-items: center;
    }

    svg {
        width: min(80%, 15em);
    }

    .sharing svg {
        width: min(95%, 15em);
    }

    p {
        padding-top: toRem(12px);
    }
}

#testimonials {
    container: sectionContainer / inline-size;
}

$testimonialWidth: min(100%, 24em);

.slider-container {
    display: grid;
    place-items: center;
    padding: 0 calc((100% - $testimonialWidth) / 4);
}

.slider {
    width: 100%;
    display: flex;
    gap: calc(100% - $testimonialWidth + 48px);
    padding: 0 toRem(24px);

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: toRem(10px);
        box-shadow: inset 0 4px 0px 0px themedColor(bg);
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.testimonial-wrapper {
    flex-shrink: 0;
    width: $testimonialWidth;
    padding-top: toRem(36px); // for the profile picture
    padding-bottom: toRem(16px); // for quote marks

    &:first-child {
        margin-left: calc($testimonialWidth / 2);
    }

    &:last-child {
        // the 'cleanest' way I could get the last element to centre on scroll
        box-sizing: content-box;
        padding-right: calc($testimonialWidth / 2);
        ;
    }
}

.testimonial {
    background-color: themedColor(bg-contrast);
    border-radius: toRem(30px);
    padding: 1em 1.5em 1.5em;

    width: $testimonialWidth;
    height: 100%;
    scroll-snap-align: center;

    transition: transform 0.5s ease-in-out;
    position: relative;

    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
        '.       author'
        'body    body'
    ;
    place-items: center;
    gap: toRem(12px);
    row-gap: toRem(20px);

    .author-details {
        grid-area: author;
    }

    p {
        grid-area: body;
    }
}

.icon-wrapper:has(.quote-marks) {
    position: absolute;
    top: 0;
    left: 0;
    translate: -40% 200%;
    scale: 1.5;

    &:last-child {
        top: unset;
        left: unset;
        right: 0;
        bottom: 0;
        rotate: 180deg;
        translate: -60% 40%;
    }
}

.testimonial-nav {
    display: inline-flex;
    padding-top: 12px;
    gap: toRem(8px);

    button {
        border-radius: 50%;
        border: 1px solid themedColor(fg);
        width: toRem(12px);
        aspect-ratio: 1;
        padding: 0;

        &:active,
        &:hover,
        &:focus-visible {
            background-color: themedColor(primary);
        }

        &.active {
            background-color: themedColor(fg);
        }
    }
}

.profile {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid black;

    position: absolute;
    top: 0;
    left: 0;
    translate: 25% -30%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &.cat-profile {
        background-image: url(../images/close-up-adorable-kitten-indoors.jpg);
        background-size: 240%;
        background-position: 52% 16%;
    }

    &.anna-profile {
        background-image: url(../images/young-woman-long-hair-character.png);
        background-size: 180%;
        background-position: 48% 8%;
        background-color: $white-73;
    }

    &.creator-profile {
        background-image: url(../images/creator-profile.png);
    }
}

.author-details {
    font-size: toRem(14px);
    min-height: toRem(40px);
}

.image-credits-container {
    @include gridCentre($gap: toRem(20px), $minColWidth: toRem(240px));
    width: 100%;

    a {
        @include gridCentre($gap: toRem(12px), $minColWidth: toRem(130px));

        background-color: themedColor(bg-contrast);
        border-radius: toRem(30px);
        padding: 1em;

        &:hover, &:focus-visible {
            .credits {
                color: themedColor(primary);
            }
        }
    }

    .image {
        @include flexCentre();
        border-radius: toRem(20px);
        aspect-ratio: 1;
        width: min(100%, 12em);

        > {
            width: 100%;
        }
    }

    p {
        text-align: center;
    }
}
//                                               **************   
// --------------------HOME PAGE-------------------------------
//                                               ************** 